name: MDriven

services:
  server-core:
    image: mdriven/mdriven-server:musl 
    
    volumes:
      - type: volume
        source: MDSData
        target: /app

      - type: bind
        source: ./mdriven-server-settings/CommandLineOverride.xml
        target: /app/App_Data/CommandLineOverride.xml
      
      - type: bind
        source: ./mdriven-server-settings/DatabaseVistaDB.vdb6
        target: /app/App_Data/DatabaseVistaDB.vdb6
    
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5011/"]
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 30s
    
    restart: on-failure:5

    entrypoint: ["/bin/sh","/usr/local/bin/entrypoint.sh"]

    command: ["dotnet", "AppCompleteGenericCore.dll"]


  turnkey-core:
    image: mdriven/mdriven-turnkey:musl
    
    volumes:
      - type: volume
        source: MDTData
        target: /app

      - type: bind
        source: ./mdriven-turnkey-settings/CommandLineOverride.xml
        target: /app/App_Data/CommandLineOverride.xml
      
      - type: bind
        source: ./mdriven-turnkey-settings/HardServerUrl.xml
        target: /app/App_Data/HardServerUrl.xml
      
      - type: bind
        source: ./mdriven-turnkey-settings/MDrivenServerOverride.xml
        target: /app/App_Data/MDrivenServerOverride.xml
      
      - type: bind
        source: ./mdriven-turnkey-settings/TurnkeySettingsOverride.xml
        target: /app/App_Data/TurnkeySettingsOverride.xml
    
    depends_on:
      server-core:
        condition: service_healthy
        restart: true

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5012/"]
      interval: 60s
      timeout: 30s
      retries: 5
      start_period: 30s
    
    restart: on-failure:5

    entrypoint: ["/bin/sh","/usr/local/bin/entrypoint.sh"]

    command: ["dotnet", "StreaminAppCoreWebApp.dll"]


  nginx:
    image: nginx:alpine
    
    volumes:
      - type: bind
        source: ./proxy.conf
        target: /etc/nginx/conf.d/default.conf

    depends_on:
      turnkey-core:
        condition: service_healthy
        restart: true
    
    ports:
      - 5011:5011
      - 5012:5012

volumes:
  MDSData:
  MDTData:
  

